{% include 'default/_form.html.twig' with {
    page_title: 'title.account_edit'|trans,
    form: form,
    submit_label: 'action.edit'|trans,
    back_to_list_path: 'account_index',
} %}

<p>
    <a href="{{ path('account_change_password') }}" class="btn btn-outline-secondary mt-3">
        {{ 'action.change_password'|trans }}
    </a>
</p>