/* Header - tytul strony, nazwa uzytkownika i opcje logowania */
.header {
    padding: 12px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title_header h1 {
    margin: 0;
}

.login_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user_show {
    display: flex;
    flex-direction: row;
}

.user_show p {
    font-weight: bold;
    margin: 15px;
}

.log_options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log_options a {
    margin: 3px 0;
}

.login_register a {
    margin: 2px;
}

/* Paginator i przycisk create */
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Formularze */
form label {
    font-weight: bold;
}

form label.required::after {
    content: ' *';
    color: red;
}

/* Nadpisania Bootstrapa */
.table.table-striped td {
    font-size: 13px;
    vertical-align: middle;
}

table.table-striped th {
    color: #660033;
    font-weight: bold;
}

/* Przyciski */
.btn-primary {
    background-color: #660033;
    border-color: #660033;
}

.btn-primary:hover {
    background-color: #cc3366;
    border-color: #cc3366;
}

/* Linki */
/* Linki na stronach glownych */
a {
    color: #660033;
}

a:hover {
    color: #cc3366;
}

/* Linki w formularzach */
.btn.btn-link {
    color: #660033;
}

.btn.btn-link:hover {
    color: #cc3366;
}

/* Paginacja */
/* Linki w paginacji (np. numery stron) */
.navigation .pagination .page-link {
    color: #660033;
    border-color: #660033;
}

.navigation .pagination .page-link:hover {
    color: #cc3366;
    border-color: #cc3366;
}

/* Aktywna strona, z wyróżnionym tłem i tekstem */
.navigation .pagination .page-item.active .page-link {
    background-color: #660033;
    border-color: #660033;
    color: white;
}

/* Nieaktywne strony (np. "Poprzednia") */
.navigation .pagination .page-item.disabled .page-link {
    color: #999999;
    pointer-events: none;
}

/* Tagi (w widoku pojedynczego przepisu) */
.badge.bg-secondary {
    background-color: #660033 !important;
}